<!DOCTYPE html>
<head>

</head>
<bod>
    <h1>Welcome Login</h1><br>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
   <form method="post">
    {% csrf_token%}
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="pass"  placeholder="PASSWORD"><br>
    <input type="submit" value="Login">
   </form> 

</bod>
</html>